<div class="wrapper">
    <div class="form-wrapper">
      <div class="title-container">
        <h1 style="color: orange">Account info</h1>
      </div>
      <mat-form-field class="mat-form-field" color="primary" id="firstNameInput" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput class="mat-input-element"  name="firstNameId"  [(ngModel)]="user.firstName" >
      </mat-form-field>
      <mat-form-field class="mat-form-field" color="primary" id="lastNameInput" appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput class="mat-input-element"  name="lastNameId"  matInput [(ngModel)]="user.lastName">
      </mat-form-field>
      <mat-form-field class="mat-form-field" color="primary" id="usernameInput" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput class="mat-input-element" placeholder="username" name="userId" [(ngModel)]="user.username" >
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" (click)="editInfo()">Save changes</button>
      <button mat-raised-button color="accent" type="submit" (click)="savePassword()">Change password</button>
    </div>
</div>
