.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;

}

.title-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
