<div class="container">
  <h1>Reservations</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Created</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Accommodation ID</th>
      <th>Status</th>
      <th>Leave Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.created | date }}</td>
      <td>{{ reservation.startDate | date }}</td>
      <td>{{ reservation.endDate | date }}</td>
      <td>{{ reservation.accomodationId }}</td>
      <td>{{ reservation.status }}</td>
      <td>
        <select [(ngModel)]="newAccomodationGrade.value">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button (click)="createAccomodationGrade(reservation)">Leave Grade</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
