<div class="wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="signIn()">
    <div class="form-wrapper">
      <div class="title-container">
        <h1 style="color: rebeccapurple">Sign in</h1>
      </div>
      <mat-form-field class="mat-form-field" color="primary" id="occupationInput" appearance="fill">
        <mat-label >Username</mat-label>
        <input class="mat-input-element" placeholder="username" name="userId" formControlName="username" matInput>
      </mat-form-field>
      <mat-form-field class="mat-form-field" color="primary" id="passwordInput" appearance="fill">
        <mat-label >Password</mat-label>
        <input type="password" class="mat-input-element" placeholder="Password" name="passwordId" formControlName="password" matInput>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Sign In</button>
    </div>
  </form>
</div>
