<mat-toolbar>
  <span>ARON Airlines</span>
  <span class="example-spacer"></span>
  <button  *ngIf="!isLoggedIn" mat-raised-button color="accent" class="login-button" (click)="openLogin()">Log in</button>
  <button  *ngIf="!isLoggedIn" mat-raised-button color="accent" class="mat-raised-button" (click)="openRegistration()" mat-dialog-close>Sign up</button>
  <button  *ngIf="isLoggedIn" mat-raised-button color="warn" class="mat-raised-button" (click)="signOut()" mat-dialog-close>Sign out</button>
</mat-toolbar>
