<div class="wrapper">
  <div class="h2">
        Flight
  </div>
  <p>
    <mat-form-field class="mat-form-field" color="primary"> Name: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary">  </mat-form-field>
  <p>
    <mat-form-field class="mat-form-field" color="primary"> Description: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary">  </mat-form-field>
  </p>
  <p>
    <mat-form-field class="mat-form-field" color="primary"> Average grade: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary">  </mat-form-field>
  </p>
</div>
