<div class="container-flights">
  <div class="example-container">

<table  class="example-table">
  <thead>
  <tr>
    <th>Departure place</th>
    <th>Arrival place</th>
    <th>Arrival date</th>
    <th>Departure date</th>
    <th>Price</th>
    <th>Total price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let flight of searchResults">
    <td>{{ flight.departurePlace }}</td>
    <td>{{ flight.arrivalPlace }}</td>
    <td>{{ flight.arrivalDate | date }}</td>
    <td>{{ flight.departureDate | date }}</td>
    <td>{{ flight.price }}</td>
    <td>{{ flight.price * searchCriteria.numPassengers}}</td>
  </tr>
  </tbody>
</table>
</div>
</div>




