<!DOCTYPE html>
<html>

<head>
  <title>Booking App</title>
</head>

<body>
<div>
  <div class="header">
    <div class="header-content">
      <h1 class="site-title">Booking<span class="dot">.</span>rs</h1>
      <p class="slogan">Discover Your Perfect Getaway</p>
    </div>
  </div>
  <hr>
  <div>
    <form (ngSubmit)="searchAccommodations()" class="search-div">
      <mat-form-field class="label-input example-full-width">
        <mat-label>Location</mat-label>
        <input matInput type="text" name="city" [(ngModel)]="searchRequest.city">
      </mat-form-field>
      <mat-form-field class="label-input example-full-width">
        <mat-label>Start Date</mat-label>
        <input matInput type="date" name="startDate" [(ngModel)]="searchRequest.startDate">
      </mat-form-field>
      <mat-form-field class="label-input example-full-width">
        <mat-label>End Date</mat-label>
        <input matInput type="date" name="endDate" [(ngModel)]="searchRequest.endDate">
      </mat-form-field>
      <mat-form-field class="label-input example-full-width">
        <mat-label>Guests</mat-label>
        <input matInput type="number" name="guests" [(ngModel)]="searchRequest.numberOfGuests">
      </mat-form-field>
      <div>
        <button type="submit" class="search-alone" (click)="submit()">Search</button>
      </div>
      <div>
        <button type="reset" class="search-alone">Cancel</button>
      </div>
    </form>
  </div>
  <hr>
  <div class="accommodation-list">
    <div class="accommodation-card" *ngFor="let acc of searchResponse">
      <h2 class="accommodation-name">{{ acc.name }}</h2>
      <p class="accommodation-location">{{ acc.address.city }}, {{ acc.address.country }}</p>
      <p class="accommodation-details">
        Min Guests: {{ acc.minNumberOfGuests }} | WiFi: {{ acc.convenience.wifi ? 'Available' : 'Not Available' }}
      </p>
      <!-- Add the Reserve button here -->
      <button (click)="createReservation(acc)" class="reserve-button">Reserve</button>
    </div>
  </div>
</div>
</body>
<footer class="footer">
  <p class="footer-text">
    &copy; 2023 Booking.rs. All rights reserved.
  </p>
</footer>
</html>
