<!DOCTYPE html>
<html>

<head>
  <title>Booking App</title>
</head>

<body>
<div>
  <div class="header">
    <h1>Booking.rs</h1>
  </div>
  <hr>
  <div class="search-div">
    <div class="label-input">
      <label>Location</label>
      <input type="text" name="departurePlace">
    </div>
    <div class="label-input">
      <label>Start Date</label>
      <input type="text" name="departurePlace">
    </div>
    <div class="label-input">
      <label>End Date</label>
      <input type="text" name="departurePlace">
    </div>
    <div class="label-input">
      <label>Guests</label>
      <input type="text" name="departurePlace">
    </div>
    <div>
      <button type="submit" class="search-alone">Search</button>
    </div>
    <div>
      <button type="reset" class="search-alone">Cancel</button>
    </div>
  </div>
</div>

</body>
</html>
